<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WeixinWork_CorpId" value="wm123"/>
    <!--通讯录同步-->
    <!--<add key="WeixinWork_CorpSecret" value="xxx"/>-->
    <!--打卡-->
    <add key="WeixinWork_CorpSecret" value="xxx"/>
    <!--应用-->
    <!--<add key="WeixinWork_CorpSecret" value="xxx"/>-->
  </appSettings>
</configuration>