<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="YoutuYun_AppId" value="2011541224"/>
    <add key="YoutuYun_SecretId" value="AKID2ZkOXFyDRHZRlbPo93SMtzVY79kpAdGP"/>
    <add key="YoutuYun_SecretKey" value="ckKU7P4FwB4PBZQlnB9hfBAcaKZMeUge"/>
    <add key="YoutuYun_UserId" value="10000"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
